# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]
# Port or socket location where to connect
# port = 3306
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[client]
default-character-set=utf8mb4

[mariadbd]
character-set-server     = utf8mb4
character-set-collations = utf8mb4=uca1400_ai_ci
skip-name-resolve
max_connections = 200
wait_timeout = 300
interactive_timeout = 300
connect_timeout = 10

query_cache_type = 1
query_cache_limit = 1M
query_cache_size = 128M


# innodb buffer 관련
innodb_buffer_pool_chunk_size = 134217728 # 128MB
innodb_buffer_pool_size = 4G
innodb_log_file_size = 512M
innodb_log_buffer_size = 64M


# 대/소문자 구분 관련
lower_case_table_names=1 # 1: 대/소문자 구분 X, 소문자로 저장

event_scheduler = ON # 이벤트 스케쥴러 사용

[mysqldump]
default-character-set=utf8mb4